<html lang="en"><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css.css" rel="stylesheet">
  <title>Sala de agendamento</title>
</head>

<body style="background-color: #333;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;"><svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="arrow-left-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
  </symbol>
  
  <symbol id="arrow-right-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
  </symbol>
</svg>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>




<div class="masthead mb-auto" style="opacity: 30%; background-color:black; height: 80px;">
  <div class="inner">
    <h3 class="masthead-brand">
      EzBook
    </h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">
        EzBook - Exemplo
      </a>
      <a class="nav-link" href="#">
        Agendar
      </a>
      <a class="nav-link" href="#">
        Contato
      </a>
    </nav>
  </div>
</div>
<div class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px  ;height: auto; min-height: 900px; opacity: 30%; background-color:black;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">
        Salas
      </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          Centro colatina
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Marilândia
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Aimorés
        </a>
      </li>
    </ul>
    
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/IMG/Henrique.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>
          mdo
        </strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li>
          <a class="dropdown-item" href="#">New project...</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Settings</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Profile</a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" href="#">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div style="width: 100%">
    <div style=" min-height: 400px;">
      <div style="background-image: url('assets/IMG/banner.jpg'); width: 100%; height: 180px; background-size: cover; background-repeat: no-repeat;">
        <img src="assets/IMG/bootstrap-logo.svg" alt="" width="180" height="180" class="rounded-circle me-2" style="padding: 15px;">
      </div>
      <div class="card-body text-white">
        <h4 class="card-title" style="text-align: center;">Nome do estabelecimento</h4>
        <p class="card-text">Descrição do estabelecimento <br> Endereço <br> Horário de atendimento <br> telefone <br> etc </p> 
      </div>
    </div>
    <hr class="my-4">
    <div class="d-flex flex-nowrap">
      <div class="dropdown" style="width: 100%">
        <button class="botaofunc">
          <p>Funcionário 1</p>
        </button>
        <label for="botaofunc" class="label1 borda">
          <div>
            <h4 class="fw-bold mb-0">
              Nome do Funcionário
            </h4>
            <p>
              Função do funcionário
            </p>
          </div>
          <img src="assets/IMG/Beto.jpg" alt="" width="80" height="80" class="rounded-circle me-2">
        </label>
        <div class="cal dropdown-content">
          <div class="d-flex flex-nowrap">
            <img src="assets/IMG/Beto.jpg" alt="" width="40" height="40" class="rounded-circle me-2">
            <h4 class="fw-bold mb-0">
              Nome do Funcionário
            </h4>
          </div>
          <div class="cal-month">
            <button class="btn cal-btn" type="button">
              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-left-short"></use></svg>
            </button>
            <strong class="cal-month-name">Junho</strong>
            <select class="form-select cal-month-name d-none">
              <option value="January">Janeiro</option>
              <option value="February">Fevereiro</option>
              <option value="March">Março</option>
              <option value="April">Abril</option>
              <option value="May">Maio</option>
              <option selected="" value="June">Junho</option>
              <option value="July">Julho</option>
              <option value="August">Agosto</option>
              <option value="September">Setembro</option>
              <option value="October">Outubro</option>
              <option value="November">Novembro</option>
              <option value="December">Dezembro</option>
            </select>
            <button class="btn cal-btn" type="button">
              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-short"></use></svg>
            </button>
          </div>
          <div class="cal-weekdays text-muted">
            <div class="cal-weekday">Dom</div>
            <div class="cal-weekday">Seg</div>
            <div class="cal-weekday">Ter</div>
            <div class="cal-weekday">Qua</div>
            <div class="cal-weekday">Qui</div>
            <div class="cal-weekday">Sex</div>
            <div class="cal-weekday">Sab</div>
          </div>
          <div class="cal-days">
            <button class="btn cal-btn" disabled="" type="button">30</button>
            <button class="btn cal-btn" disabled="" type="button">31</button>
    
            <button class="btn cal-btn" type="button" style="background-color: red;">1</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">2</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">3</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">4</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">5</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">6</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">7</button>
    
            <button class="btn cal-btn" type="button" style="background-color: red;">8</button>
            <a href="../Reserva/Reserva.html"><button class="btn cal-btn" type="button">9</button></a>
            <button class="btn cal-btn" type="button">10</button>
            <button class="btn cal-btn" type="button">11</button>
            <button class="btn cal-btn" type="button">12</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">13</button>
            <button class="btn cal-btn" type="button">14</button>
    
            <button class="btn cal-btn" type="button">15</button>
            <button class="btn cal-btn" type="button">16</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">17</button>
            <button class="btn cal-btn" type="button">18</button>
            <button class="btn cal-btn" type="button">19</button>
            <button class="btn cal-btn" type="button">20</button>
            <button class="btn cal-btn" type="button">21</button>
    
            <button class="btn cal-btn" type="button" style="background-color: red;">22</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">23</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">24</button>
            <button class="btn cal-btn" type="button">25</button>
            <button class="btn cal-btn" type="button">26</button>
            <button class="btn cal-btn" type="button">27</button>
            <button class="btn cal-btn" type="button">28</button>
    
            <button class="btn cal-btn" type="button">29</button>
            <button class="btn cal-btn" type="button">30</button>
            <button class="btn cal-btn" type="button">31</button>
          </div>
        </div>
      </div>
      <div class="dropdown" style="width: 100%">
        <button class="botaofunc">
          <p>Funcionário 1</p>
        </button>
        <label for="botaofunc" class="label1 borda">
          <div>
            <h4 class="fw-bold mb-0">
              Nome do Funcionário
            </h4>
            <p>
              Função do funcionário
            </p>
          </div>
          <img src="assets/IMG/Joao.jpg" alt="" width="80" height="80" class="rounded-circle me-2">
        </label>
        <div class="cal dropdown-content">
          <div class="d-flex flex-nowrap">
            <img src="assets/IMG/Joao.jpg" alt="" width="40" height="40" class="rounded-circle me-2">
            <h4 class="fw-bold mb-0">
              Nome do Funcionário
            </h4>
          </div>
          <div class="cal-month">
            <button class="btn cal-btn" type="button">
              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-left-short"></use></svg>
            </button>
            <strong class="cal-month-name">Junho</strong>
            <select class="form-select cal-month-name d-none">
              <option value="January">Janeiro</option>
              <option value="February">Fevereiro</option>
              <option value="March">Março</option>
              <option value="April">Abril</option>
              <option value="May">Maio</option>
              <option selected="" value="June">Junho</option>
              <option value="July">Julho</option>
              <option value="August">Agosto</option>
              <option value="September">Setembro</option>
              <option value="October">Outubro</option>
              <option value="November">Novembro</option>
              <option value="December">Dezembro</option>
            </select>
            <button class="btn cal-btn" type="button">
              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-short"></use></svg>
            </button>
          </div>
          <div class="cal-weekdays text-muted">
            <div class="cal-weekday">Dom</div>
            <div class="cal-weekday">Seg</div>
            <div class="cal-weekday">Ter</div>
            <div class="cal-weekday">Qua</div>
            <div class="cal-weekday">Qui</div>
            <div class="cal-weekday">Sex</div>
            <div class="cal-weekday">Sab</div>
          </div>
          <div class="cal-days">
            <button class="btn cal-btn" disabled="" type="button">30</button>
            <button class="btn cal-btn" disabled="" type="button">31</button>
    
            <button class="btn cal-btn" type="button">1</button>
            <button class="btn cal-btn" type="button">2</button>
            <button class="btn cal-btn" type="button">3</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">4</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">5</button>
            <button class="btn cal-btn" type="button">6</button>
            <button class="btn cal-btn" type="button">7</button>
    
            <button class="btn cal-btn" type="button">8</button>
            <button class="btn cal-btn" type="button">9</button>
            <button class="btn cal-btn" type="button">10</button>
            <button class="btn cal-btn" type="button">11</button>
            <button class="btn cal-btn" type="button">12</button>
            <button class="btn cal-btn" type="button">13</button>
            <button class="btn cal-btn" type="button">14</button>
    
            <button class="btn cal-btn" type="button">15</button>
            <button class="btn cal-btn" type="button">16</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">17</button>
            <button class="btn cal-btn" type="button">18</button>
            <button class="btn cal-btn" type="button">19</button>
            <button class="btn cal-btn" type="button">20</button>
            <button class="btn cal-btn" type="button">21</button>
    
            <button class="btn cal-btn" type="button">22</button>
            <button class="btn cal-btn" type="button">23</button>
            <button class="btn cal-btn" type="button">24</button>
            <button class="btn cal-btn" type="button">25</button>
            <button class="btn cal-btn" type="button">26</button>
            <button class="btn cal-btn" type="button">27</button>
            <button class="btn cal-btn" type="button">28</button>
    
            <button class="btn cal-btn" type="button">29</button>
            <button class="btn cal-btn" type="button">30</button>
            <button class="btn cal-btn" type="button">31</button>
          </div>
        </div>
      </div>
      <div class="dropdown" style="width: 100%">
        <button class="botaofunc"><p>Funcionário 1</p>
        </button>
        <label for="botaofunc" class="label1 borda">
          <div>
            <h4 class="fw-bold mb-0">
              Nome do Funcionário
            </h4>
            <p>
              Função do funcionário
            </p>
          </div>
          <img src="assets/IMG/Rafael.jpg" alt="" width="80" height="80" class="rounded-circle me-2">
        </label>
        <div class="cal dropdown-content">
          <div class="d-flex flex-nowrap">
            <img src="assets/IMG/Rafael.jpg" alt="" width="40" height="40" class="rounded-circle me-2">
            <h4 class="fw-bold mb-0">
              Nome do Funcionário
            </h4>
          </div>
          <div class="cal-month">
            <button class="btn cal-btn" type="button">
              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-left-short"></use></svg>
            </button>
            <strong class="cal-month-name">Junho</strong>
            <select class="form-select cal-month-name d-none">
              <option value="January">Janeiro</option>
              <option value="February">Fevereiro</option>
              <option value="March">Março</option>
              <option value="April">Abril</option>
              <option value="May">Maio</option>
              <option selected="" value="June">Junho</option>
              <option value="July">Julho</option>
              <option value="August">Agosto</option>
              <option value="September">Setembro</option>
              <option value="October">Outubro</option>
              <option value="November">Novembro</option>
              <option value="December">Dezembro</option>
            </select>
            <button class="btn cal-btn" type="button">
              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-short"></use></svg>
            </button>
          </div>
          <div class="cal-weekdays text-muted">
            <div class="cal-weekday">Dom</div>
            <div class="cal-weekday">Seg</div>
            <div class="cal-weekday">Ter</div>
            <div class="cal-weekday">Qua</div>
            <div class="cal-weekday">Qui</div>
            <div class="cal-weekday">Sex</div>
            <div class="cal-weekday">Sab</div>
          </div>
          <div class="cal-days">
            <button class="btn cal-btn" disabled="" type="button">30</button>
            <button class="btn cal-btn" disabled="" type="button">31</button>
    
            <button class="btn cal-btn" type="button">1</button>
            <button class="btn cal-btn" type="button">2</button>
            <button class="btn cal-btn" type="button">3</button>
            <button class="btn cal-btn" type="button">4</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">5</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">6</button>
            <button class="btn cal-btn" type="button">7</button>
    
            <button class="btn cal-btn" type="button">8</button>
            <button class="btn cal-btn" type="button">9</button>
            <button class="btn cal-btn" type="button">10</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">11</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">12</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">13</button>
            <button class="btn cal-btn" type="button">14</button>
    
            <button class="btn cal-btn" type="button">15</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">16</button>
            <button class="btn cal-btn" type="button">17</button>
            <button class="btn cal-btn" type="button">18</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">19</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">20</button>
            <button class="btn cal-btn" type="button">21</button>
    
            <button class="btn cal-btn" type="button" style="background-color: red;">22</button>
            <button class="btn cal-btn" type="button">23</button>
            <button class="btn cal-btn" type="button">24</button>
            <button class="btn cal-btn" type="button">25</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">26</button>
            <button class="btn cal-btn" type="button" style="background-color: red;">27</button>
            <button class="btn cal-btn" type="button">28</button>
    
            <button class="btn cal-btn" type="button">29</button>
            <button class="btn cal-btn" type="button">30</button>
            <button class="btn cal-btn" type="button">31</button>
          </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    
  


</body></html>