<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Agenda</title>
<link href="assets/css.css" rel="stylesheet">
</head>
<body class="text-center text-white" style="background-color: #333;">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    <h3 class="masthead-brand">
        Barbearia
        </h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">
                EzBook - Exemplo
            </a>
            <a class="nav-link" href="#">
                Agendar
            </a>
            <a class="nav-link" href="#">
                Contato
            </a>
          </nav>
        </div>
      </header>
          <div class = "container">
            <hr class="my-2">
            <h2>Minha Agenda</h2>
            <hr class="my-3">
            <div width="49%">
                <h2>Data:</h2>
              </div>
              <div width="49%">
                <h2> 09/06/2022</h2>
                <hr class="my-1">
              </div>
            <table class="table table-hover ">
                <thead class="text-white">
                <tr>
                  <th scope="col">Horário</th>
                  <th scope="col">Nome</th>
                </tr>
                </thead>
                <tbody class="text-black">        
                  <tr class="table-info">
                    <th scope="row">07:00 - 08:00</th>
                    <td></td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">08:00 - 09:00</th>
                    <td>Pedro</td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">09:00 - 10:00</th>
                    <td>Joaquim</td>
                  </tr>
                  <tr class="table-info">
                    <th scope="row">12:00 - 13:00</th>
                    <td></td>
                  </tr>
                  <tr class="table-info">
                    <th scope="row">13:00 - 14:00</th>
                    <td></td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">14:00 - 15:00</th>
                    <td>João Pedro</td>
                  </tr>
                  <tr class="table-info">
                    <th scope="row">15:00 - 16:00</th>
                    <td></td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">16:00-17:00</th>
                    <td>Arthur</td>
                  </tr>
                </tbody>
              </table>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2022-2022 EzBook</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Sobre</a></li>
        <li class="list-inline-item"><a href="#">Termos de uso</a></li>
        <li class="list-inline-item"><a href="#">Ajuda</a></li>
      </ul>
      </footer>
      </div>
  </body>
</html>
