<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>EzBook - Criar Sala</title>

    <!-- Bootstrap core CSS -->
    <link href="../../styles/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Barbearia</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">EzBook - Exemplo</a>
            <a class="nav-link" href="#">Agendar</a>
            <a class="nav-link" href="#">Contato</a>
          </nav>
        </div>
      </header>

      <div class="container">
        <main>
          <div class="py-5 text-center">
            
            <h2>Criar Sala</h2>
            <p class="lead"> Bem vindo, siga os passos para criar uma sala.</p>
          </div>
        </main>
        <div class="">
            <h4 class="mb-3">Sobre o Estabelecimento</h4>
            <form class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="col-12">
                  <label for="firstName" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                </div>
    
    
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Telefone</label>
                  <input type="text" class="form-control" id="firstName" placeholder="(xx) x xxxx-xxxx" value="" required>
                </div>
    
                <div class="col-12">
                  <label for="email" class="form-label">CNPJ </label>
                  <input type="email" class="form-control" id="email" placeholder="xx.xxx.xxx/xxxx-xx">
                </div>
                <div class="col-md-3">
                    <label for="zip" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="zip" placeholder="_____ ___" required>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="zip" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="zip" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="country" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="zip" class="form-label">Número</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                <div class="col-12">
                    <label for="email" class="form-label">Complemento </label>
                    <input type="email" class="form-control" id="email" placeholder="Rua x, Bairro y">
                  </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar</button>
            </form>
    
</body>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
