html, body{ 
  min-height: 100vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.botaofunc {
  position: absolute;
  opacity: 0;
}

.label1 {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  cursor: pointer;
}
.borda {
  box-sizing: border-box;
  float: left;
  height: auto;
  width: auto;
  display: flex;
  color: black;
}

/* AGENDAS / CALENDARIOS */
.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: rgba(0, 0, 0, .05);
}
.cal-btn[disabled] {
  border: 0;
  opacity: .5;
}
.erro {
  margin: 20px auto!important;
}
.notificacaoFuncionario {
  width: 220px;
  margin: 0 auto;
}
.pendente {
  font-size: small;
}
.bg-loading {
  background-color: #E4E6E7;
}
.loadingFuncionario {
  margin-top: 23px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');

.gallery_product .title{
    font-family: "Montserrat", sans-serif;
    background-color: rgba(255,255,255,0.8);
    color:black;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    position:relative;
    width:22rem;
    height:60px;
    bottom:60px;
}
.gallery_product .title small{
    display: block;
}

.imgsala {
    width: 22rem;
    height: 15rem;
}

.stars {
  color: #f5b904;
}

.title-card {
  font-size: 17px;
}

.calendar-info {
  width: 400px!important;
  height: auto;
  border-radius: 4px;
}

.calendar-info button{
  border-radius: 4px;
  font-size: 16px!important;
}

.calendar-info b{
  text-transform: uppercase;
}

.title-cards {
  width: 808px;
}

.salaDisplay {
  padding: 8px!important;
  width: 355px!important;
  height: 130px;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

.funcionarioDisplay {
  padding: 8px!important;
  width: 220px!important;
  height: 98px;
  cursor: pointer;
  position: relative;
}

.cornerButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 16px;
}

.bottomMsg {
  position: absolute;
  bottom: 0.5rem;
  left: 128px;
  font-size: 16px;
}

.dropdownColor {
  --bs-dropdown-link-active-bg: #dfdfdf;
}

.rodape {
  position: relative;
  right: 50%;
  transform: translate(50%);
}

.rodape a {
  text-decoration: none;
  color: rgba(var(--bs-body-color-rgb),.75)!important;
}

.fsp {
  font-size: 14px;
}

hr {
  color: #d3d3d3!important;
}

.hoverIcon:hover {
  color: #50b2c4;
}

.cornerIcon {
  position: absolute;
  top: 1.35rem;
  right: 0.5rem;
  font-size: 20px;
}

.selectsdiv {
  display: flex!important;
}

.widthspan {
  max-width: 220px;
}

#sel1 {
  padding-right: 1rem!important;
}

.login {
  width: 22rem!important; 
}
.cadastro {
  width: 40rem!important;
}
.conteudosSala {
  display: flex!important;
}
.descricao {
  flex: 0 0 auto;
  width: 25%;
  padding: .5rem;
  margin-right: .5rem;
}
.funcionarios {
  width: 260px;
  height: 400px;
  padding: .5rem ;
  margin-right: .5rem;
}
#calendar {
  height: 400px;
  margin-right: .5rem;
}

.horarios {
  height: 400px;
  width: 400px;
  border-radius: 4px;
}

.flex-block {
  display: flex;
}
.rotulo {
  margin-left: .5rem;
}
.perfil {
  display: none;
}

.btn-ignorar {
  position: absolute;
  top: 23px;
  right: 77px;
}

.btn-aceitar {
  position: absolute;
  top: 23px;
  right: 10px;
}

.btn-largar {
  position: absolute;
  top: 12px;
  right: 77px;
}

.btn-visitar {
  position: absolute;
  top: 12px;
  right: 10px;
}

@media(max-width:850px) {
  header {
    display: block!important;
    position: relative;
    height: 180px!important;
    padding: 30px 12px!important;
    text-align: center !important;
  }
  .imgRotulo {
    text-align: center;
    margin-bottom: 16px;
  }
  .rotulo {
    margin-left: 0!important;
  }
  .rotulo button {
    width: 100%;
  }
  .rotulo p {
    margin-left: 0!important;
  }
  .uploadb {
    width: auto!important;
  }
  .adcfuncionario {
    margin: 16px auto;
    text-align: center;
  }
  .hbutton {
    margin-top: .25rem !important;
  }
  .cadastro {
    width: 300px!important;
  }
  .fsp {
    width: 300px;
    margin: 0 auto!important;
  }
  .logo {
  }
  .divImg {
    margin-left: 10px !important;
  }
  .pesquisa {
    min-width: 319px;
    margin: 0 auto;
  }
  .perfil {
  }
  .selects {
    padding-right: 0!important;
    margin: 0 auto;
  }
  .selectsdiv {
    width: 320px!important;
    display: block!important;
    margin: 0 auto!important;
  }
  .salaDisplay {
    margin-right: 0;
    width: 320px!important;
  }
  #sel1 {
    padding-right: 0!important;
    margin-bottom: 0.5rem;
  }
  .container {
    max-width: 516px!important;
  }
  .translate {
    transform: translate(0)!important;
  }
  .widthspan {
    max-width: 190px!important;
  }
  .login {
    width: 300px!important; 
  }
  .sala {
    width: 300px!important;
  }
  .conteudosSala {
    display: block!important;
  }
  .descricao {
    margin-bottom: 16px!important;
    width: auto!important;
  }
  .funcionarios {
    width: auto;
    padding: 0 !important;
    margin-right: 0 !important;
  }
  #imgShow {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .title-cards{
    width: auto!important;
  }
  #calendar {
    height: 350px!important;
    width: auto!important;
    margin-right: 0!important;
    margin-bottom: .5rem;
  }
  .flex-block {
    display: block!important;
  }
  .horarios {
    height: 400px!important;
    width: auto!important;
  }
  .cornerIcon {
    top: 45px!important;
    right: 27px;
  }
  .notificacao p {
    width: 200px;
  }
  .btn-aceitar {
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .btn-ignorar {
    position: absolute;
    top: 51px;
    right: 10px;
  }
}

@media(max-width:1200px) {
  #sel1 {
    padding-right: 0!important;
    margin-bottom: 0.5rem;
  }
  .selectsdiv {
    display: block!important;
  }
  .selects {
    width: 353px!important;
    padding-right: 0!important;
    margin: 0 auto;
  }
}
